body {
    box-sizing: border-box;
    background-color: rgb(233, 247, 245);
    overflow-y: scroll;
    height: 100%;
}

.login,
.signup {
    width: 500px;
    margin: 0 auto;
}

.cover img {
    max-width: 100%;
    width: 1400px;
    position: relative;
}

.header {
    position: absolute;
    top: 273px;
    left: 521px;
    font-size: 50px;
    color: rgb(148, 143, 143);
    text-transform: uppercase;
}

.first_heading {
    position: absolute;
    top: 331px;
    left: 624px;
    color: rgb(148, 143, 143);
    font-size: 22px;
}

.second_heading {
    position: absolute;
    top: 361px;
    left: 601px;
    color: rgb(148, 143, 143);
    font-size: 22px;
}

.anchor {
    color: rgb(148, 143, 143);
}

.playlists {
    display: flex;
    gap: 50px;
}

.create_playlist {
    width: 300px;
    float: left;
}

.pllstanchor {
    text-decoration: none;
    color: black;
}

aside {
    width: 30%;
    padding-left: 15px;
    margin-left: 15px;
    float: right;
    font-style: italic;
  }